{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block main %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}">
    {% endif %}
    {{ form.as_p }}
    <br>
    <input type="submit" value="войти">
</form>
<button>
    <a href="{% url 'register' %}" class="">
        зарегистрироваться
    </a>
</button>
<button class="btn btn-round form-control">
    <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/">
        Вход через ВКонтакте
    </a>
</button>
{% endblock %}