{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block main %}
<div class="container">
    {% include 'mainapp/includes/inc__main_menu.html' %}
    <h1>Yoya Plus 3 Серая на черной раме</h1>
    <a class="product-view" href="{% static 'img/Black_grey_1.jpg' %}">
        <img src="{% static 'img/Black_grey_1.jpg' %}" alt="Yoya Plus 3 Серая на черной раме"></a>
    <div class="short-description">
        <h2 class="description">Краткое описание товара</h2>
        <div class="first-letter">
            <p class="short">Оригинальная прогулочная коляска Yoya Plus 3 — это последнее поколение YOYA PLUS 2019-го
                года<br>
                Если Вам нужна современная, удобная, безопасная и лёгкая прогулочная коляска по доступной цене
                заказывайте
                прямо сейчас😉<br>
                Доставка ТК СДЕК 1-2 дня<br>
                Гарантия 1 год</p>
        </div>
        <button type="button" class="buy">Купить</button>
    </div>
    <div class="full-description">
        <h3>Полная комплектация без доплат: <br></h3>
        <ul>
            <li>-сетка от москитов</li>
            <li>-накидка-дождевик</li>
            <li>-летний матрас</li>
            <li>-чехол</li>
            <li>-ремешок на руку</li>
            <li>-ремешок на плечо</li>
            <li>-подстаканник</li>
            <li>-чехол на ножки малыша</li>
        </ul>
    </div>
    <h2 class="description">Технические характеристики</h2>
    <table class="char">
        <tr>
            <td>Механизм складывания</td>
            <td>Книжка</td>
        </tr>
        <tr>
            <td>Количество колес</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td>6,5 кг</td>
        </tr>
        <tr>
            <td>Нагрузка</td>
            <td>До 20 кг</td>
        </tr>
        <tr>
            <td>Возраст</td>
            <td> от 6 месяцев</td>
        </tr>
        <tr>
            <td>Ремни безопасности</td>
            <td>Пятиточечные</td>
        </tr>
        <tr>
            <td>Колеса</td>
            <td>Прорезиненные</td>
        </tr>
        <tr>
            <td>Амортизация</td>
            <td>Пружинная</td>
        </tr>
        <tr>
            <td>Корзина для покупок</td>
            <td>Есть</td>
        </tr>
    </table>
    <h2 class="description">Подробное описание товара</h2>
    <p class="full">Основные особенности новой модели YOYA Plus 3 по сравнению с предыдущими моделями YOYA Plus:</p>
    <ul class="full">
        <li>- Увеличенный кап</li>
        <li>- Увеличены задние колеса для обеспечения лучшей проходимости</li>
        <li>- Появился ремешок-разделитель ножек, в цвет текстиля коляски, пристегивается на кнопках к бамперу</li>
        <li>- Амортизация на всех колесах, есть возможность блокировки передних</li>
        <li>- Усилена рама , увеличена жесткость передней подножки , улучшен механизм сложения</li>
        <li>- Родительская ручка, а также бампер обшиты высококачественной экокожей</li>
        <li>- Телескопическая ручка для еще более удобного перемещения коляски в сложенном виде</li>
        <li>- Встроенная выдвижная подножка, размер спального места 82х35 см</li>
        <li>- Дополнительная ручка для переноски коляски, а также ремешок для ношения коляски на плече</li>
    </ul>
    <div class="footer">
        <span> &copy; Все права защищены</span>
    </div>
</div>
{% endblock %}
